{%extends "layout.html"%}

{%block content%}

<br><br><br>




   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>

    {%if refresh == True %} <script> location.reload(); </script>{%endif%}

    <script>
        $( window ).load(function (){
            $("#state").change(function() {
                // foo is the id of the other select box 
                if ($(this).val() == "manager") {
                    $("#manager").show();
                }else{
                    $("#manager").hide();
                } 
                if ($(this).val() == "market") {
                    $("#market").show();
                }else{
                    $("#market").hide();
                } 

            });
        });
    </script>

<h1>CBSO</h1>

<div class="col-md-6">

	<h2>Managers left to process</h2>

	<ul>
		{% for manager in managersLeft %}

		<li>{{manager[0]}}</li>

		{%endfor%}
	</ul>
</div>


<div class="col-md-6">

	<h2>Time Series Graph</h2>

	<img src = "/static/CBSO.png?v={{hack}}" width="500">

    <br><br>

	<form action="/generateCBSOGraph" method=post class=add-entry>

    <p>
        <select id="state" name="state" style="width: 212px;" >
            <option value="manager" {%if session.state == "manager"%} selected {%endif%} >Manager</option>
            <option value="market" {%if session.state == "market"%} selected {%endif%} >Origination Market</option>
            <option value="vic" {%if session.state == "vic"%} selected {%endif%} >Sales Channel</option>
            <option value="nt" {%if session.state == "nt"%} selected {%endif%}  >Sales Type</option>
        </select>
    </p>

    <p id="manager" {%if session.state == "market"%} hidden {%endif%} >

        <select id = "managerName" name="managerName" style="width: 212px;" >
        	{%for manager in managers %}
        		<option value="{{manager}}" {%if session.manager == manager %} selected {%endif%}  >{{manager}}</option>
        	{% endfor %}
        </select>

    <p id="market" {%if session.state == "manager"%} hidden {%endif%} >
        <select id = "marketName" name="marketName" style="width: 212px;" selected = {{session.market}}>
        	{%for market in markets %}
        		<option value="{{market}}" {%if session.market == market %} selected {%endif%} >{{market}}</option>
        	{% endfor %}
        </select>
    </p>

    <select name="variables" multiple>
		<option value="assets" {%if "assets" in session.variables %} selected {%endif%}>Assets</option>
		<option value="grossSales" {%if "grossSales" in session.variables %} selected {%endif%} >GrossSales</option>
		<option value="netSales" {%if "netSales" in session.variables %} selected {%endif%} >NetSales</option>
	</select>   

    <input type="submit" value="Submit">
</form>

</div>


{% endblock %}
