{%extends "layout.html"%}

{%block content%}


<br><br><br>

<h1>ODS Export</h1>

<div class="col-md-6">

<h2>Import Asset</h2>


<br>Latest PeriodIdCreated: {{ latestAssetDate }}

<br>Assets Imported This Month: {{ AssetsUpdatedThisMonth }}

<br>
<img src = "/static/asset.png" width="500">
 
<img src = "/static/assetMonth.png" width="500">


</div>

<div class="col-md-6">

<h2>Import Portfolio</h2>

<br>New Funds This Month: {{NewFundsThisMonth}}

<br>New Funds Since Last Refresh: {{fundsSinceRefresh}}

<br>
<br>
<img src = "/static/newFunds.png" width="500">




</div>

<script type="text/javascript">
    document.getElementById("portfolio").onclick = function () {
        location.href = "/";
    };

        document.getElementById("asset").onclick = function () {
        location.href = "/";
    };
</script>

{% endblock %}

