{%extends "layout.html"%}

{%block content%}


<br><br><br>

<h1>ODS Export</h1>

<div class="col-md-6">

<h2>Import Asset</h2>


<br>Latest PeriodIdCreated: {{ latestAssetDate }}

<br>Assets Imported This Month: {{ getAssetsUpdatedThisMonth }}

<br>
<img src = "/static/asset.png" width="500">
 


</div>

<div class="col-md-6">

<h2>Import Portfolio</h2>

Last Run: 1/23/2015

<br>

<button id="portfolio" class="float-left submit-button" >Run Import Portfolio</button>



</div>

<script type="text/javascript">
    document.getElementById("portfolio").onclick = function () {
        location.href = "/";
    };

        document.getElementById("asset").onclick = function () {
        location.href = "/";
    };
</script>

{% endblock %}

